.people-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5%;
	margin-bottom: 10px;

	// .ant-input {
	// 	background-color: transparent !important;
	// 	color: var(--white-900) !important;
	// }

	// .ant-input-affix-wrapper {
	// 	background-color: var(--gray-900) !important;
	// 	border: none !important;
	// 	margin: 0px 10px !important;
	// 	border-radius: 20px !important;
	// }

	// .ant-input-group-addon {
	// 	margin: 0px 10px !important;
	// 	background-color: transparent !important;
	// }
}
