.people-search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 5%;
	margin-bottom: 10px;
	
	.ant-input {
		color: var(--white-900) !important;
		background-color: transparent !important;
	}

	.ant-input-affix-wrapper {
		border-radius: 20px !important;
		background-color: var(--black-700) !important;
		border: 1px solid var(--black-700) !important;
	
		svg {
			color: var(--white-900) !important;
		}
	}
	
	.ant-input-group-addon {
		background-color: transparent !important;

		.ant-btn {
			margin-left: 10px;
			border: none;
			border-radius: 50% !important;
			color: var(--white-900) !important;
			background-color: var(--black-700) !important;
		}
	}

	[ant-click-animating-without-extra-node="true"]::after,
	.ant-click-animating-node {
		box-shadow: none !important;
	}
}
