.people-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.people-info-showcase {
		position: relative;
		top: 25%;
		left: 12%;
		width: 60%;
		height: 75%;
		border: 2px solid var(--black-700);
		background-color: var(--white-900);
	
		.header {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			width: 100%;
			height: 8%;
			padding: 0px 20px;
			border-bottom: 2px solid var(--black-700);
			background-color: var(--yellow-500);

			.anticon {
				margin: 0px 5px;
				color: var(--black-700);
			}
		}

		.content {
			display: flex;
			width: 100%;
			height: 92%;

			.content-left {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50%;
				height: 100%;
				border-right: 2px solid var(--black-700);
				
				.content-avatar {
					img {
						border-radius: 50%;
						border: 1px solid var(--black-700);
					}
				}
			}

			.content-right {
				display: flex;
				flex-direction: column;
				width: 50%;
				height: 100%;
				padding: 30px;

				.content-name {
					margin-bottom: 20px;
					border-bottom: 2px solid var(--black-700);

					h3 {
						font-size: 30px;
						font-weight: bold;
						margin: 0px;
						color: var(--black-700);
					}
				}

				.content-info {
					h4 {
						font-size: 16px;
						margin: 0px;
						color: var(--black-700);
					}

					h5 {
						margin-top: 20px;
						color: var(--black-700);
					}
				}
			}
		}
	}
}
