.people-lateral-showcase::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
	border-radius: 5px;
}

.people-lateral-showcase::-webkit-scrollbar-thumb {
	background-color: var(--black-700);
	border-radius: 5px;
}

.people-lateral-showcase {
	display: flex;
  justify-content: center;
	flex-wrap: wrap;
  max-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 375px) {
  
}
