:root {
	--black-900: #000000;
	--black-700: #222222;
	--black-500: #444444;
	--black-300: #666666;

	--white-900: #ffffff;
	--white-500: #fdf6e6;

	--gray-900: #bbbbbb;
	--gray-700: #999999;
	
	--brown-500: #968a75;

	--yellow-500: #f7d674;
}
