@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './colors.scss';

* {
	font-family: 'Roboto', sans-serif;
}

.App {
	display: flex;
	width: 100vw;
	height: 100vh;
	
	.base-container {
		width: 80%;
		height: 100%;

		.base-showcase {
			width: 100%;
			height: 75%;
			padding: 20px;
			border: 1px solid var(--black-700);
			background-color: var(--white-900);
		}

		.base {
			width: 100%;
			height: 25%;
			padding: 20px;
			border: 1px solid var(--black-700);
			background-color: var(--yellow-500);
		}
	}

	.lateral-showcase-container {
		width: 20%;
		height: 100%;

		.lateral-showcase {
			width: 100%;
			height: 75%;
			padding: 20px;
			border: 1px solid var(--black-700);
			background-color: var(--yellow-500);
		}

		.element {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 25%;
			padding: 20px;
			border: 1px solid var(--black-700);
			background-color: var(--white-900);

			span {
				color: var(--black-700);
				font-weight: bold;
				font-size: 30px;
			}
		}
	}
}
