.people-card {
	display: flex;
	padding: 10px;
	width: 150px;
	height: 105px;
	border-radius: 5px;
	margin: 5px;
	background-color: var(--black-700);
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	img {
		width: 25px;
		height: 25px;
		border-radius: 50%;
		margin-right: 10px;
	}

	h3 {
		color: var(--white-900);
		font-size: 14px;
		font-weight: bold;
	}
}

.people-card:hover {
	cursor: pointer;
	background-color: var(--black-500);
}
