.people-showcase {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	.people-page {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		width: 100%;
		height: 5px;
		margin-top: 10px;

		.page-next {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			color: var(--white-900);
			background-color: var(--black-700);
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			border-left: 2px solid var(--black-500);
		}

		.page-next:hover {
			cursor: pointer;
		}

		.page-number {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			background-color: var(--black-700);

			h4 {
				color: var(--white-900);
				margin: 0px;
			}
		}

		.page-previous {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 30px;
			height: 30px;
			color: var(--white-900);
			background-color: var(--black-700);
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
			border-right: 2px solid var(--black-500);
		}

		.page-previous:hover {
			cursor: pointer;
		}
	}
}
